@model IEnumerable<MyShop.Models.ProductModel>
@{
    ViewData["Title"] = "Pagrindinis";
}
<link href="~/css/Index.css" rel="stylesheet" />

<!-------------------------------------------------------------------------------------------------------------------------->
<div class="container pt-5 text-right">
    <div class="row no-gutters" style="background-color: white; border:solid 1px">
        <div class="col offset-md-">

            @*/////////////     SlideShow     ///////////////*@

            @*<img src="~/images/hero-mainPage.jpg" height="400" /> ORGAS*@

            <div class="slideshow-container">

                <div class="mySlides fade">
                    <div class="numbertext">1 / 3</div>
                    <img src="~/images/hero-mainPage.jpg" style="width:115%">
                    <div class="text2">Caption Text</div>
                </div>

                <div class="mySlides fade">
                    <div class="numbertext">2 / 3</div>
                    <img src="~/images/man2.jpg" style=" width: 115%">
                    <div class="text2">Caption Two</div>
                </div>

                <div class="mySlides fade">
                    <div class="numbertext">3 / 3</div>
                    <img src="~/images/man3.jpg" style="width:115%">
                    <div class="text2">Caption Three</div>
                </div>

            </div>


            <div style="text-align:center">
                <div class="myDiv" style="width:115%">
                    <span class="dot" onclick="currentSlide(1)"></span>
                    <span class="dot" onclick="currentSlide(2)"></span>
                    <span class="dot" onclick="currentSlide(3)"></span>
                </div>
            </div>

            <script>
                var slideIndex = 0;
                showSlides();
                var slides, dots;

                function showSlides() {
                    var i;
                    slides = document.getElementsByClassName("mySlides");
                    dots = document.getElementsByClassName("dot");
                    for (i = 0; i < slides.length; i++) {
                        slides[i].style.display = "none";
                    }
                    slideIndex++;
                    if (slideIndex > slides.length) { slideIndex = 1 }
                    for (i = 0; i < dots.length; i++) {
                        dots[i].className = dots[i].className.replace(" active2", "");
                    }
                    slides[slideIndex - 1].style.display = "block";
                    dots[slideIndex - 1].className += " active2";
                    setTimeout(showSlides, 4000); // Change image every 2 seconds
                }


                function currentSlide(index) {
                    if (index > slides.length) { index = 1 }
                    else if (index < 1) { index = slides.length }
                    for (i = 0; i < slides.length; i++) {
                        slides[i].style.display = "none";
                    }
                    for (i = 0; i < dots.length; i++) {
                        dots[i].className = dots[i].className.replace(" active2", "");
                    }
                    slides[index - 1].style.display = "block";
                    dots[index - 1].className += " active2";
                }


            </script>


            @*//////////////////////////////////////////////////////////*@


        </div>
        <div class="col text-center align-self-center">
            <h2>Vyriški laikrodžiai</h2>
        </div>
    </div>
</div>
<br />
<!-------------------------------------------------------------------------------------------------------------------------->
<div class="container card-group">
    @foreach (var item in Model)
    {
        if (item.ForSex.Contains('V'))
        {
            <div class="card text-center" style="width: 18rem;">
                <img class="card-img-top" src=@item.PictureLink alt="Card image cap">
                <div class="card-body align-items-sm-center">
                    <h6 class="text-danger"><strong>Naujiena !</strong></h6>
                    <h5 class="card-title">Laikrodis "@item.Title"</h5>
                    <a asp-action="Product" asp-controller="StoreProduct" asp-route-id="@item.ID" class="btn btn-outline-dark align-content-center">Detaliau</a>
                </div>
            </div>
        }
    }
</div> <br />
<!-------------------------------------------------------------------------------------------------------------------------->
<div class="container pt-5 text-right">
    <div class="row no-gutters" style="background-color: white; border: solid 1px">
        <div class="col offset-md-">
            <img src="~/images/women_mainPage.jpg" height="400" />
        </div>
        <div class="col text-center align-self-center">
            <h2>Moteriški laikrodžiai</h2>
        </div>
    </div>
</div>
<br />
<!-------------------------------------------------------------------------------------------------------------------------->
<div class="container card-group">
    @foreach (var item in Model)
    {
        if (item.ForSex.Contains('M'))
        {
            <div class="card text-center" style="width: 18rem;">
                <img class="card-img-top" src=@item.PictureLink alt="Card image cap">
                <div class="card-body align-items-sm-center">
                    <h6 class="text-danger"><strong>Naujiena !</strong></h6>
                    <h5 class="card-title">Laikrodis "@item.Title"</h5>
                    <a asp-action="Product" asp-controller="StoreProduct" asp-route-id="@item.ID" class="btn btn-outline-dark align-content-center">Į krepšelį</a>
                </div>
            </div>
        }
    }
</div>
