@model IEnumerable<MyShop.Models.ProductModel>
@{
    ViewData["Title"] = "Pagrindinis";
}

<style>
    .card-img-top {
        width: 100%;
        height: 15vw;
        object-fit: cover;
    }
</style>

<!-------------------------------------------------------------------------------------------------------------------------->
<div class="container pt-5 text-right">
    <div class="row no-gutters" style="background: #eee; border:solid 1px">
        <div class="col offset-md-">
            <img src="~/images/hero-mainPage.jpg" height="400" />
        </div>
        <div class="col text-center align-self-center">
            <h2>Vyriški laikrodžiai</h2>
        </div>
    </div>
</div>
<br />
<!-------------------------------------------------------------------------------------------------------------------------->
<div class="container card-group">
    @foreach (var item in Model)
    {
        if (item.ForSex.Contains('V'))
        {
            <div class="card text-center" style="width: 18rem;">
                <img class="card-img-top" src=@item.PictureLink alt="Card image cap">
                <div class="card-body align-items-sm-center">
                    <h6 class="text-danger"><strong>Naujiena !</strong></h6>
                    <h5 class="card-title">Laikrodis "@item.Title"</h5>
                    <a asp-area="Identity" asp-page="/UserProduct" class="btn btn-outline-dark align-content-center">Detaliau</a>
                </div>
            </div>
        }
    }
</div> <br />
<!-------------------------------------------------------------------------------------------------------------------------->
<div class="container pt-5 text-right">
    <div class="row no-gutters" style="background: #eee; border:solid 1px">
        <div class="col offset-md-">
            <img src="~/images/women_mainPage.jpg" height="400" />
        </div>
        <div class="col text-center align-self-center">
            <h2>Moteriški laikrodžiai</h2>
        </div>
    </div>
</div>
<br />
<!-------------------------------------------------------------------------------------------------------------------------->
<div class="container card-group">
    @foreach (var item in Model)
    {
        if (item.ForSex.Contains('M'))
        {
            <div class="card text-center" style="width: 18rem;">
                <img class="card-img-top" src=@item.PictureLink alt="Card image cap">
                <div class="card-body align-items-sm-center">
                    <h6 class="text-danger"><strong>Naujiena !</strong></h6>
                    <h5 class="card-title">Laikrodis "@item.Title"</h5>
                    <a asp-area="Identity" asp-page="/UserProduct" class="btn btn-outline-dark align-content-center">Į krepšelį</a>
                </div>
            </div>
        }
    }
</div>
