@model IEnumerable<MyShop.Models.ProductModel>
@{
    ViewData["Title"] = "Pagrindinis";
}

<style>
    .card-img-top {
        width: 100%;
        height: 15vw;
        object-fit: cover;
    }

    * {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1200px;
  position: relative;
  margin: auto;
}


/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .active2 .dot:hover {
        background-color: #717171;
    }

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 4s;
  animation-name: fade;
  animation-duration: 4s;
}

@@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
    @@media only screen and (max-width: 300px) {
        .text {font-size: 11px}
}

    .myDiv {
        width: 100%;
        height: 100%;
        background: #474e5d;
    }

</style>

<!-------------------------------------------------------------------------------------------------------------------------->
<div class="container pt-5 text-right">
    <div class="row no-gutters" style="background-color: white; border:solid 1px">
        <div class="col offset-md-">

            @*/////////////     SlideShow     ///////////////*@

            @*<img src="~/images/hero-mainPage.jpg" height="400" /> ORGAS*@

            <div class="slideshow-container">

                <div class="mySlides fade">
                    <div class="numbertext">1 / 3</div>
                    <img src="~/images/hero-mainPage.jpg" style="width:115%">
                    <div class="text">Caption Text</div>
                </div>

                <div class="mySlides fade">
                    <div class="numbertext">2 / 3</div>
                    <img src="~/images/man2.jpg" style=" width: 115%">
                    <div class="text">Caption Two</div>
                </div>

                <div class="mySlides fade">
                    <div class="numbertext">3 / 3</div>
                    <img src="~/images/man3.jpg" style="width:115%">
                    <div class="text">Caption Three</div>
                </div>

            </div>


            <div style="text-align:center">
                <div class="myDiv" style="width:115%">
                    <span class="dot" onclick="currentSlide(1)"></span>
                    <span class="dot" onclick="currentSlide(2)"></span>
                    <span class="dot" onclick="currentSlide(3)"></span>
                </div>
            </div>

            <script>
                var slideIndex = 0;
                showSlides();
                var slides, dots;

                function showSlides() {
                    var i;
                    slides = document.getElementsByClassName("mySlides");
                    dots = document.getElementsByClassName("dot");
                    for (i = 0; i < slides.length; i++) {
                        slides[i].style.display = "none";
                    }
                    slideIndex++;
                    if (slideIndex > slides.length) { slideIndex = 1 }
                    for (i = 0; i < dots.length; i++) {
                        dots[i].className = dots[i].className.replace(" active2", "");
                    }
                    slides[slideIndex - 1].style.display = "block";
                    dots[slideIndex - 1].className += " active2";
                    setTimeout(showSlides, 4000); // Change image every 2 seconds
                }


                function currentSlide(index) {
                    if (index > slides.length) { index = 1 }
                    else if (index < 1) { index = slides.length }
                    for (i = 0; i < slides.length; i++) {
                        slides[i].style.display = "none";
                    }
                    for (i = 0; i < dots.length; i++) {
                        dots[i].className = dots[i].className.replace(" active2", "");
                    }
                    slides[index - 1].style.display = "block";
                    dots[index - 1].className += " active2";
                }


            </script>


            @*//////////////////////////////////////////////////////////*@


        </div>
        <div class="col text-center align-self-center">
            <h2>Vyriški laikrodžiai</h2>
        </div>
    </div>
</div>
<br />
<!-------------------------------------------------------------------------------------------------------------------------->
<div class="container card-group">
    @foreach (var item in Model)
    {
        if (item.ForSex.Contains('V'))
        {
            <div class="card text-center" style="width: 18rem;">
                <img class="card-img-top" src=@item.PictureLink alt="Card image cap">
                <div class="card-body align-items-sm-center">
                    <h6 class="text-danger"><strong>Naujiena !</strong></h6>
                    <h5 class="card-title">Laikrodis "@item.Title"</h5>
                    <a asp-action="Product" asp-controller="StoreProduct" asp-route-id="@item.ID" class="btn btn-outline-dark align-content-center">Detaliau</a>
                </div>
            </div>
        }
    }
</div> <br />
<!-------------------------------------------------------------------------------------------------------------------------->
<div class="container pt-5 text-right">
    <div class="row no-gutters" style="background-color: white; border: solid 1px">
        <div class="col offset-md-">
            <img src="~/images/women_mainPage.jpg" height="400" />
        </div>
        <div class="col text-center align-self-center">
            <h2>Moteriški laikrodžiai</h2>
        </div>
    </div>
</div>
<br />
<!-------------------------------------------------------------------------------------------------------------------------->
<div class="container card-group">
    @foreach (var item in Model)
    {
        if (item.ForSex.Contains('M'))
        {
            <div class="card text-center" style="width: 18rem;">
                <img class="card-img-top" src=@item.PictureLink alt="Card image cap">
                <div class="card-body align-items-sm-center">
                    <h6 class="text-danger"><strong>Naujiena !</strong></h6>
                    <h5 class="card-title">Laikrodis "@item.Title"</h5>
                    <a asp-action="Product" asp-controller="StoreProduct" asp-route-id="@item.ID" class="btn btn-outline-dark align-content-center">Į krepšelį</a>
                </div>
            </div>
        }
    }
</div>
