@{
    ViewData["Title"] = "Home Page";
}

<div class="container pt-5 text-right">
    <div class="row no-gutters" style="background: #eee; border:solid 1px">
        <div class="col offset-md-">
            <img src="~/images/watch-1.jpg" height="400" />
        </div>
        <div class="col text-center align-self-center">
            <h2>Vyriški laikrodžiai</h2>
        </div>
    </div>
</div>
<div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>