@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewData["Title"] = "Rolės";
}

<h1 class="text-center">Rolių sąrašas</h1>
<a type="button" class="btn btn-success" asp-action="Create">Įvesti naują</a>
<br />
<p>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <td>Pavadinimas</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in Model)
            {
                <tr>
                    <td>@role.Name</td>
                </tr>

            }
        </tbody>
    </table>
</p>